*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


div{
    margin: 10px 0px 10px 0px;
}

input{
    border-radius: 10px;
    padding: 6px;
}

button{
    padding: 10px;
    border-radius: 10px;
}

.enviarr{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: green;
    border: none;
    color: white;
}

.enviarr:hover{
    background-color: rgb(24, 161, 24);
}

#botao3{
    background-color: red;
}

#botao3:hover{
    background-color: rgb(236, 36, 36);
}

#botao4{
    background-color: yellow;
}

#botao4:hover{
    background-color: rgb(184, 184, 8);
}