main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F3F3F3;
}

h1 {
    display: flex;
    justify-content: center;
}
span{
    font-weight: bolder;
}